{
  "presets": [
    [
      "next/babel",
      { "styled-jsx": {
        "plugins": [
          "styled-jsx-plugin-less",
          "styled-jsx-plugin-postcss",
          "styled-jsx-plugin-stylelint"
        ] } }
    ],
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
  ]
}
